<div class="box">
    <h1>Editar Discusión</h1>
        <%= render 'form' %>
        <%= link_to 'Show', @discussion %> |
        <%= link_to 'Back', discussions_path %>
      <p class="has-text-center">Lo sentimos! No tienes acceso a esta página.</p>
</div>