<h1>Editar comentario</h2>

<%= form_for([@post, @comment]) do |f| %>
    <p>
        <%= f.label :Comentario %> <br>
        <%= f.text_area :comment %>
    </p>
    <br>
    <p>
        <%= f.submit "Editar" %>
    </p>
<% end %>