<div class="columns is-gapless is-desktop">
    <div class="column is-four-fifths-desktop">
            <%= image_tag "header.jpeg", :class => "img-responsive" %>

            <%= image_tag "header.jpeg", :class => "img-responsive" %>

    </div>

    <div class="column">
        <%= render 'layouts/news' %>
    </div>
</div>

