<%= favicon_link_tag 'game/TemplateData/favicon.ico', type: 'image/ico' %>
<% javascript_include_tag "game/TemplateData/UnityProgress.js" %>
<% javascript_include_tag "game/Build/UnityLoader.js" %>
<% stylesheet_link_tag "game/TemplateData/style" %>



    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "game/Build/Construcciones Novela Visual.json", {onProgress: UnityProgress});
    </script>

    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Plantilla Novela Visual</div>
      </div>
    </div>
