<title>Unity WebGL Player | Novela Visual</title>
<link rel="shortcut icon" href="/assets/TemplateData/favicon.ico">
<link rel="stylesheet" href="/assets/TemplateData/style.css">
<script src="/assets/TemplateData/UnityProgress.js"></script>  
<script src="/assets/Build/UnityLoader.,js"></script>
<script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "/assets/Build/Construccione.json", {onProgress: UnityProgress});
</script>


    <div class="webgl-content">
      <div id="gameContainer" style="width: 1280px; height: 720px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Novela Visual</div>
      </div>
    </div>

