/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Web desarrollada por Pedro Sánchez @vengadorweb y editor de novelas visuales por Leonardo Solórzano*/

@import 'normalize';
@import 'functions';
@import "font-awesome";


html, body {
  margin: 0;
  padding: 0;
	font-family: 'Raleway', sans-serif;
}
body{
  background: url('fondo.jpg')
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
}

a {
	text-decoration: none;
	// color: inherit;
}

#myDIV{
  display: none;
}


 .visual_novel{
  width: 700px;
  height: 400px;
  max-width: 700px;
  max-height: 400px;
  border: 2px solid red;
}

.img-responsive{
  width: 100%;
  height: auto;
}
.text-center{
  text-align: center;
}
.img-logo{
  width: 400%;
}

#header {
  margin-top: 0;
  padding: 1em 3em;
  border-bottom: 1px solid #d6dce0;
  background: #f5f7f9;
  color: #9eafba;
  z-index: 1;
  p {
    display: inline;
  }
  a {
    color: #9eafba;
    text-decoration: none;
  }
  .buttons {
    float: right;
    margin-top: -6px;
    .button {
      font-size: 1em;
      margin-left: .5em;
    }
  }
}


.post_wrapper{
  // border: 1px solid red;
  background: #fff;
  // margin-bottom: 2px;
  padding: 3em;
  border-bottom: 1px solid #d6dce0;
}.title {
  margin: 0;
  a {
    font-weight: 500;
    text-decoration: none;
    color: #2a2f35;
    font-size: 1.5em;
    &:hover {
      color: rgba(214, 48, 49, 1);
    }
  }
}

.date_and_author {
  color: #9eafba;
  margin: .5em 0 0 0;
}

#post_content {
padding: 1.5em 4em;
.title {
  font-weight: 500;
  text-decoration: none;
  color: #2a2f35;
  font-size: 2.5em;
  margin-bottom: 0;
}
.body {
  font-size: 1.1em;
  line-height: 1.75;
}
.date_and_author {
  color: #9eafba;
  margin: .5em 0 2em 0;
}
#comments {
  h2 {
    margin: 3em 0 1em 0;
    border-bottom: 1px solid #d6dce0;
    padding-bottom: 0.5em;
  }
  h3 {
    margin-top: 2em;
    font-size: 25px;
  }
  .comment {
    border-bottom: 1px solid #d6dce0;
    
    padding: 1.5em 2em;
    .clear_both {
      clear: both;
    }
    &:after {
      clear: both;
    }
    .comment_content {
      float: left;
      .comment_name {
        margin: 1em 0 0 0;
        font-size: 0.7em;
        text-transform: uppercase;
      }
      .comment_body {
        font-size: 1.2em;
        margin: 0.2em 0 0 0;
      }
      .comment_time {
        margin-top: 1.2em;
        font-size: .8em;
      }
    }
    .button {
      float: right;
      margin-right: 2px;
    }
  }
  input[type="text"], textarea {
    width: 50%;
  }
}
}


.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#page_wrapper {
  padding: 3em;
  #profile_image {
    width: 300px;
    float: left;
    margin-right: 2em;
    img {
      width: 100%;
      border-radius: 0.35em;
    }
  }
  #content {
    h1 {
      font-weight: 500;
    }
    p {
      font-size: 1.1em;
      line-height: 1.75;
    }
    a {
      color: #33acb7;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
.links {
  margin: 2em 0;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 90%;
  border: 1px solid #d6dce0;
  border-radius: .35em;
  margin-top: 10px;
  padding: .5em 1em;
  line-height: 1.75;
}
input[type="text"] {
  height: 35px;
}
textarea {
  min-height: 180px;
}
input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  margin-left: .5em;
  cursor: pointer;
  &:hover {
    border: 1px solid #ef9a9a;
    color: #ef9a9a;
  }
}


.button2 {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  color: #000;
  cursor: pointer;
  &:hover {
    border: 1px solid #ef9a9a;
    color: #ef9a9a;
    a {
      color: #ef9a9a !important;
    }
  }
}


.facebook-btn{
  background: #3B5998;
  color: white;
}

.logo{
  -webkit-transform: rotateZ(170deg);
  width: 130%;
}

.news-title{
  // border-bottom: 2px solid #ef9a9a;
  margin: 0;
  background: #fff;//ECF0F1
}

//pagination
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; 
  }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; 
  }


//footer

.footer {
  color: #fff;
  float: left;
  position: relative;
  width: 100%;
  background: #c62828;
}

/*Animación censurada por ser "infantil"*/
// .img-logo, li{
//   opacity: 0;
//   animation-name: bounceIn;
//   animation-duration: 450ms;
//   animation-timing-function: linear;
//   animation-fill-mode: forwards;
// }
// .img-logo{animation-delay: 0.5s;}
// li:nth-child(2){animation-delay: 1.75s;}
// li:nth-child(3){animation-delay: 1s;}
// li:nth-child(4){animation-delay: 1.15s;}

// @keyframes bounceIn{
//   0%{
//     opacity: 0;
//     transform: scale(0.3) translate3d(0,0,0);
//   }
//   50%{
//     opacity: 0.9;
//     transform: scale(1.1);
//   }
//   80%{
//     opacity: 1;
//     transform: scale(0.89);
//   }
//   100%{
//     opacity: 1;
//     transform: scale(1) translate3d(0,0,0);
//   }
// }


/*Estructura responsive con css grid layout*/

 .main-head {
    grid-area: header;
    // border: 1px solid red;
  }
  .main-head img{
    // width: 100%;
    // height: 430px;
  }.main-head img:hover {
    // opacity:0.8;
  }
  .content {
    grid-area: content;
    // border: 1px solid red;
  }
  .main-nav {
    grid-area: nav;
    /* background-color: #FBEBEC; */
    // border: 1px solid red;
  }
  .main-footer {
    grid-area: footer;
    border: 1px solid red;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-areas: 
    "nav"
    "header"
    "content"
    "footer";
  }


  /*PAGINATION*/

  /*END OF PAGINATION*/


/*FORO*/



.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.textarea {
  height: 250px;
  font-family: Monaco, san-serif;
  font-size: .9rem;
  padding: 1rem;
}

.discussion-title {
  margin-bottom: 0;
}


/*FORO*/




  /*Media queries*/



  @media (min-width: 1200px) {
    .wrapper {
      grid-template-columns: 5fr;
      grid-template-areas: 
        "nav"
        "header"
        "content"
        "footer";
     }
     nav ul {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
     }
     .content_root{
      display: grid;
      grid-template-columns: 5fr 2fr;
      grid-template-areas: 
        "contenido  noticias"
     }
     .contenido_root{
       grid-area: contenido;
       justify-self: start;
     }
     .news_root{
      // border: 2px solid #ef9a9a;
      grid-area: noticias;
      justify-self: end;
    }
    .news_root_container{
      position: relative;
      width: auto;
    }
    .img-logo{
      width: 120%;
    }

    .post_wrapper_root{
      // border: 1px solid red;
      background: #ECF0F1;
      // margin-bottom: 2px;
      padding: 1em;
      border-bottom: 1px solid #d6dce0;
    }.post_wrapper_root_title {
      margin: 0;
      .post_wrapper_root_title > a {
        font-weight: 100;
        text-decoration: none;
        color: #2a2f35;
        font-size: 20px;
        &:hover {
          color: rgba(214, 48, 49, 1);
        }
      }
    }.post_wrapper_root_date{
      font-size: 12px;
    }
    .news_title_root{
      margin-top:0px;
      font-size: 25px;
      color: #000;
      background: #ECF0F1;
      border-bottom: 1px solid #d6dce0;
    }
    #noticias{
    }
    #menu_root{
    }

    // #header {
    //   position: relative;
    //   padding: 1em 3em;
    //   border-bottom: 1px solid #d6dce0;
    //   background: #f5f7f9;
    //   color: #9eafba;
    //   z-index: 1;
    //   p {
    //     display: inline;
    //   }
    //   a {
    //     color: #9eafba;
    //     text-decoration: none;
    //   }
    //   .buttons {
    //     float: right;
    //     margin-top: -6px;
    //     .button {
    //       font-size: 1em;
    //       margin-left: .5em;
    //     }
    //   }
    // }
    
    

    .main-nav {
      background: #f1f2f6;
      // border-right: 1px solid #ef9a9a;
      // height: 100%;
      // padding: 7em 0 0 0;
      // transform:skew(2deg);
      // background-image: image-url('fondo.jpg');
      // background-repeat: repeat;
      // border-right: 2px solid rgba(214, 48, 49, 1);
      z-index: 1;
      #menu{
       margin: 0;
       width: 150px;
      //  margin-left: 10px;
     }ul {
      list-style: none;
      text-align: right;
      padding-right: 3em;
      .category {
        font-weight: 800;
        font-size: 0.9em;
        text-transform: uppercase;
        color: #ef9a9a;
      }
      li {
        padding: .5em 0;
        a {
          color: #000;
          font-size: 25px;
          font-family: 'Dancing Script', cursive;
          text-decoration: none;
          transition: all .4s ease;
          &:hover {
            color: rgba(214, 48, 49, 1);
          }
        }
      }
      .active {
        a {
          color: #33acb7;
        }
      }
    }
  }

  .container{
    // display: grid;
    // grid-template-columns: auto;
    // margin: 20px;
  }
 
  .tags{
    display: inline-block; /*Porque las transformaciones no funcionan en elementos con display:inline*/
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  .tags:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotateZ(25deg);
  }

  
}

  @media only screen and (max-width: 500px){
    #menu {
      width: 25%;
    }
  }
  @media only screen and (max-width: 700px){
    #menu {
    }
  }
  