/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Web desarrollada por Pedro Sánchez @vengadorweb y editor de novelas visuales por Leonardo Solórzano*/

 @import 'normalize';

html, body {
  margin: 0;
  padding: 0;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
}

a {
	text-decoration: none;
	color: inherit;
}


 .visual_novel{
  width: 700px;
  height: 400px;
  max-width: 700px;
  max-height: 400px;
  border: 2px solid red;
}

.img-responsive{
  width: 100%; 
}
.text-center{
  text-align: center;
}
.img-logo{
  width: 400%;
}

#header {
  padding: 1em 3em;
  border-bottom: 1px solid #d6dce0;
  background: #f5f7f9;
  color: #9eafba;
  p {
    display: inline;
  }
  a {
    color: #9eafba;
    text-decoration: none;
  }
  .buttons {
    float: right;
    margin-top: -6px;
    .button {
      font-size: .8em;
      margin-left: .5em;
    }
  }
}


.post_wrapper{
  // border: 1px solid red;
  background: #ECF0F1;
  // margin-bottom: 2px;
  padding: 3em;
  border-bottom: 1px solid #d6dce0;
}.title {
  margin: 0;
  a {
    font-weight: 500;
    text-decoration: none;
    color: #2a2f35;
    font-size: 1.5em;
    &:hover {
      color: rgba(214, 48, 49, 1);
    }
  }
}

.date_and_author {
  color: #9eafba;
  margin: .5em 0 0 0;
}

#post_content {
padding: 1em 3em;
.title {
  font-weight: 500;
  text-decoration: none;
  color: #2a2f35;
  font-size: 2.5em;
  margin-bottom: 0;
}
.body {
  font-size: 1.1em;
  line-height: 1.75;
}
.date_and_author {
  color: #9eafba;
  margin: .5em 0 2em 0;
}
#comments {
  h2 {
    margin: 3em 0 1em 0;
    border-bottom: 1px solid #d6dce0;
    padding-bottom: 0.5em;
  }
  h3 {
    margin-top: 2em;
  }
  .comment {
    border-bottom: 1px solid #d6dce0;
    padding: 1.5em 2em;
    .clear_both {
      clear: both;
    }
    &:after {
      clear: both;
    }
    .comment_content {
      float: left;
      .comment_name {
        margin: 1em 0 0 0;
        font-size: 0.7em;
        text-transform: uppercase;
      }
      .comment_body {
        font-size: 1.2em;
        margin: 0.2em 0 0 0;
      }
      .comment_time {
        margin-top: 1.2em;
        font-size: .8em;
      }
    }
    .button {
      float: right;
    }
  }
  input[type="text"], textarea {
    width: 50%;
  }
}
}


.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#page_wrapper {
  padding: 3em;
  #profile_image {
    width: 300px;
    float: left;
    margin-right: 2em;
    img {
      width: 100%;
      border-radius: 0.35em;
    }
  }
  #content {
    h1 {
      font-weight: 500;
    }
    p {
      font-size: 1.1em;
      line-height: 1.75;
    }
    a {
      color: #33acb7;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
.links {
  margin: 2em 0;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 90%;
  border: 1px solid #d6dce0;
  border-radius: .35em;
  margin-top: 10px;
  padding: .5em 1em;
  line-height: 1.75;
}
input[type="text"] {
  height: 35px;
}
textarea {
  min-height: 180px;
}
input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  margin-left: .5em;
  cursor: pointer;
  &:hover {
    border: 1px solid #ef9a9a;
    color: #ef9a9a;
  }
}


.button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  cursor: pointer;
  &:hover {
    border: 1px solid #ef9a9a;
    color: #ef9a9a;
    a {
      color: #ef9a9a !important;
    }
  }
}

.news{
  // border: 2px solid #ef9a9a;
  background: #ECF0F1;
}
.news-title{
  // border-bottom: 2px solid #ef9a9a;
  margin: 0;
  border-bottom: 1px solid #d6dce0;
}



.footer {
  color: #fff;
  float: left;
  position: relative;
  width: 100%;
  background: #c62828;
}

/*Animación censurada por ser "infantil"*/
// .img-logo, li{
//   opacity: 0;
//   animation-name: bounceIn;
//   animation-duration: 450ms;
//   animation-timing-function: linear;
//   animation-fill-mode: forwards;
// }
// .img-logo{animation-delay: 0.5s;}
// li:nth-child(2){animation-delay: 1.75s;}
// li:nth-child(3){animation-delay: 1s;}
// li:nth-child(4){animation-delay: 1.15s;}

// @keyframes bounceIn{
//   0%{
//     opacity: 0;
//     transform: scale(0.3) translate3d(0,0,0);
//   }
//   50%{
//     opacity: 0.9;
//     transform: scale(1.1);
//   }
//   80%{
//     opacity: 1;
//     transform: scale(0.89);
//   }
//   100%{
//     opacity: 1;
//     transform: scale(1) translate3d(0,0,0);
//   }
// }


/*Estructura responsive con css grid layout*/

 .main-head {
    grid-area: header;
    // border: 1px solid red;
  }
  .main-head img{
    width: 100%;
    height: 430px;
  }.main-head img:hover {
    opacity:0.8;
  }
  .content {
    grid-area: content;
    // border: 1px solid red;
  }
  .main-nav {
    grid-area: nav;
    /* background-color: #FBEBEC; */
    // border: 1px solid red;
  }
  .main-footer {
    grid-area: footer;
    border: 1px solid red;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "footer";
  }


  /*Media queries*/

  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 3fr;
      grid-template-areas: 
        "header  header"
        "nav     nav"
        "content"
        "footer";
    }
    nav ul {
      display: column;
      text-decoration: none;
      // justify-content: space-between;
    }

    .img-logo{
      width: 50%;
    }
  }

  @media (min-width: 900px) {
    .wrapper {
      grid-template-columns: 1fr 5fr;
      grid-template-areas: 
        "nav header"
        "nav content"
        "nav content"
        "footer footer"
     }
     nav ul {
       flex-direction: column;
       text-decoration: none;
     }

    .img-logo{
      width: 65%;
    }
    .main-nav {
      background: #f1f2f6;
      border-right: 1px solid #ef9a9a;
      // height: 100%;
      // padding: 7em 0 0 0;
      // transform:skew(2deg);
      // background-image: image-url('fondo.jpg');
      // background-repeat: repeat;
      // border-right: 2px solid rgba(214, 48, 49, 1);
      // z-index: 1;
     #menu{
       position: fixed;
       left: 0;
       top: 0;
       padding: 3em 0 0 0;
       perspective: 0px;
       margin: 0;
       transform-style: none;
      //  margin-left: 10px;
     }ul {
      list-style: none;
      justify-self: end;
      .category {
        font-weight: 800;
        font-size: 0.9em;
        text-transform: uppercase;
        color: #ef9a9a;
      }
      li {
        padding: .5em 0;
        a {
          color: #000;
          font-size: 25px;
          font-family: 'Dancing Script', cursive;
          text-decoration: none;
          transition: all .4s ease;
          &:hover {
            color: rgba(214, 48, 49, 1);
          }
        }
      }
      .active {
        a {
          color: #33acb7;
        }
      }
    }
    .sign_in {
      position: relative;
      left: 0;
      top: 80%;
      font-size: .8em;
      color: #9eafba;
    }
  }
 
  .espaciado{
    height: 500px;
  }
  .tags{
    display: inline-block; /*Porque las transformaciones no funcionan en elementos con display:inline*/
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
  }
  .tags:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotateZ(25deg);
  }

  
}

  @media only screen and (max-width: 500px){
    #menu {
      width: 25%;
    }
  }
  @media only screen and (max-width: 700px){
    #menu {
    }
  }
  